@import url('https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap');

$font: 'Karla', sans-serif;
$primary-color: black;

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  background-color: black;
  color:lightgray;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  padding-bottom: 2.5em;
}

.ant-menu-item:hover a, .ant-menu-item:hover{
  color: $primary-color !important;
}
header {
  .ant-menu-item-selected {
    color: $primary-color !important;
    border-bottom: 2px solid $primary-color !important;
  }
}
.ant-layout{
  background-color: white;
}
.ant-layout-sider-children {
  .ant-menu-inline {
    .ant-menu-item {
      line-height: 2em;
      margin-bottom: 1.2em;
      white-space: normal !important;
      height: auto !important;
    }
    .ant-menu-item-selected a{
      color: $primary-color !important;
      font-size: large;
    }
    .ant-menu-item::after {
      border-right: 2px solid $primary-color !important;
      border-bottom: 0px !important;
    }
  }
}
